<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<div class="container">
  <h1 class="titulo">Projeto appIdeas</h1>
  <p class="paragrafos">Projetos feitos por Rodrigo Régio através das ideias do repositório appideas no github.</p>
  <p class="paragrafos"><a [routerLink]="['/bin2dec']" class="apps">Bin2Dec App</a> - Um conversor binário para decimal.</p>
  <p class="paragrafos"><a [routerLink]="['/calculadora']" class="apps">Calculadora App</a> - Uma calculadora.</p>
  <p class="paragrafos"><a [routerLink]="['/calendar']" class="apps">Calendar App</a> - Um aplicativo de calendário.</p>
</div>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
