<div class="container">
    <div class="title">
        <h2>Calculadora</h2>
    </div>
    <div class="body">
        <table class="table">
            <tr>
                <td colspan="4"><input type="text" id="display" [value]="display" class="form-control text-right" name="display" readonly></td>
            </tr>
            <tr>
                <td><button class="btn calcBtn" (click)="clicouClearAll()">AC</button></td>
                <td><button class="btn calcBtn" (click)="limpar()">CL</button></td>
                <td><button class="btn calcBtn" (click)="clicouMemoria()">SM</button></td>
                <td><button class="btn calcBtn" (click)="getMemoria()">GM</button></td>
            </tr>
            <tr>
                <td><button class="btn calcBtn" (click)="adicionaNumero('7')">7</button></td>
                <td><button class="btn calcBtn" (click)="adicionaNumero('8')">8</button></td>
                <td><button class="btn calcBtn" (click)="adicionaNumero('9')">9</button></td>
                <td><button class="btn calcBtn" (click)="definirOperacao('/')">/</button></td>
            </tr>
            <tr>
                <td><button class="btn calcBtn" (click)="adicionaNumero('4')">4</button></td>
                <td><button class="btn calcBtn" (click)="adicionaNumero('5')">5</button></td>
                <td><button class="btn calcBtn" (click)="adicionaNumero('6')">6</button></td>
                <td><button class="btn calcBtn" (click)="definirOperacao('*')">*</button></td>
            </tr>
            <tr>
                <td><button class="btn calcBtn" (click)="adicionaNumero('1')">1</button></td>
                <td><button class="btn calcBtn" (click)="adicionaNumero('2')">2</button></td>
                <td><button class="btn calcBtn" (click)="adicionaNumero('3')">3</button></td>
                <td><button class="btn calcBtn" (click)="definirOperacao('-')">-</button></td>
            </tr>
            <tr>
                <td><button class="btn calcBtn" (click)="adicionaNumero('0')">0</button></td>
                <td><button class="btn calcBtn" (click)="adicionaNumero(',')">,</button></td>
                <td><button class="btn calcBtn" (click)="calcular()">=</button></td>
                <td><button class="btn calcBtn" (click)="definirOperacao('+')">+</button></td>
            </tr>
        </table>
        <div class="info">
            <h1>Informações:</h1>
            <p>Não segui todos os requisitos do appideas do florinpop, mas está funcional. Segue algumas Informações:</p>
            <ul>
                <li>SM guarda o numero no display á memória.</li>
                <li>GM pega o numero guardado na memória.</li>
                <li>CL limpa o que estiver na tela.</li>
                <li>CA limpa o valor que está na memória e na tela.</li>
            </ul>
        </div>
    </div>
</div>